h1 {
  color: white;
  font-size: 32px;
  font-family: 'Arial', 'sans-serif';
  font-weight: bold;
}
h2 {
  color: black;
  font-size: 25px;
  padding-bottom: 10px;
  font-family: 'Arial', 'sans-serif';
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
p {
  font-size: 16px;
  font-family: 'Arial', 'sans-serif';
}
.main-header-link {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: right;
  font-family: 'Arial', 'sans-serif';
}
#header-gap {
  background-color: #333333;
  padding: 20px 20px;
  display: flex;
  font-family: 'Arial', 'sans-serif';
  font-size: 16px;
}
.header-list {
  display: flex;
  color: white;
  margin-left: auto;
  justify-content: space-between;
}
.header-item {
  padding: 0 15px;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: #991f00;
  line-height: 75px;
  height: 75px;
  vertical-align: middle;
  padding: 0 30px;
}

.column-1 {
  padding: 30px;
  float: left;
  flex: 85.0%;
  padding-right: 0;
}
.column-2 {
  padding: 30px;
  padding-top: 35px;
  float: right;
  flex: 20.0%;
}
#top {
  padding-top: 30px;
}
#footer {
  padding: 30px;
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #333333;
  color: white;
}
#footer > div {
  display: table-cell;
}
